.header-wrapper {
  @apply mx-6 pt-4 sticky top-0 rounded-2xl;
}

.blur {
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8)!important;
  box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
}